* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.wrap {
  display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: 60px auto;
}

@media (max-width: 620px) {
  .wrap {
    flex-direction: column;
    align-items: center;
  }
}

.btn {
	align-self: end;
	padding: 10px 30px;
	margin: 10px 0 20px; 
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	background-color: #3775dd;
  transition: .5s;
}

.btn:hover {
	background-color: #3169c6;
}

.input {
  padding: 10px;
  border: 1px solid #9facba;
  border-radius: 4px;
  transition: .3s box-shadow;
	outline: none;
  transition: .5s;
  cursor: pointer;
}

.calendar-wrapper {
  max-width: 280px;
  border-bottom: 1px solid #b3b3b3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-header__top {
  height: 50px;
  border-bottom: 1px solid #b3b3b3;
}

.calendar-header__button-today {
  font-size: 1.5rem;
  color: #1f1f1f;
  margin-left: 0.5rem;
}

.calendar-header__bottom {
  display: flex;
  justify-content: space-between;
  margin-left: 0.55rem;
  margin-top: 0.5rem;
}

.calendar-header__arrow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80px;
}

.calendar-header__day-name {
  width: 2.5rem;
  height: 2.5rem;
  color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__day-wrapper {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.grid__current-day {
  background-color: #e7ebee;
}

.grid__selected-day {
  background-color: #9facba;
}

.notes-wrapper {
  width: 40%;
  margin-left: 50px;
}

@media (max-width: 610px) {
  .notes-wrapper {
    margin-left: 10px;
  }
}

@media (max-width: 620px) {
  .notes-wrapper {
    width: 80%;
    margin-top: 20px;
  }
}

.notes__field {
  display: flex;
  flex-direction: column;
}

.notes__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #9facba;
  width: 100%;
  padding: 10px;
  background-color: #f8f9fb;
}
